<div style="display: flex">
  <div style="width: 50%">
    <div class="p-field">
      <label class="required" >First Name : </label> {{account?.firstname}}
    </div>
    <div class="p-field">
      <label class="required"  >Last Name : </label> {{account?.lastname}}
    </div>
    <div class="p-field">
      <label class="required" >Age : </label> {{account?.age}}
    </div>
    <div class="p-field">
      <label class="required" >Balance : </label> {{account?.balance}}
    </div>
  </div>
  <div>
    <div class="p-field">
      <label class="required" >City : </label> {{account?.city}}
    </div>
    <div class="p-field">
      <label class="required" >Email : </label> {{account?.email}}
    </div>
    <div class="p-field">
      <label class="required" >Employer : </label> {{account?.employer}}
    </div>
    <div class="p-field">
      <label class="required" >Gender : </label> {{account?.gender}}
    </div>
    <div class="p-field">
      <label class="required" >State : </label> {{account?.state}}
    </div>
  </div>
</div>
